* {
  box-sizing: border-box;
}
:root {
  --header-text-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: #303030;
  --accent-color: #ff6c00;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Raleway", sans-serif;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* header------- */
.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 73px;
}
.header-list {
  display: flex;
}
.header-item + .header-item {
  margin-left: 40px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 0.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-connect {
  margin-left: auto;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header-btn {
  margin-left: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}
.header-btn:hover,
.header-btn:focus {
  color: var(--first-btn-color);
}

/* HERO */
/* .hero {
} */
.hero-container {
  display: flex;
}
.hero-list {
  width: 93px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--first-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-right {
  background-color: gray;
  flex-grow: 1;
  padding: 272px 0 206px 96px;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ABOUT */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}
.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
}
.about-btn:hover,
.about-btn:focus {
  color: var(--accent-color);
}

/* PRICES */
.prices {
  background-color: gray;
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 44px;
}
.prices-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  font-style: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
}
.prices-btn:hover,
.prices-btn:focus {
  color: var(--accent-color);
}
/* Reasons */
.reasons {
  padding-top: 121px;
  padding-bottom: 130px;
}
.reasons-numbers {
  font-weight: bold;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--first-text-color);
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--first-text-color);
}
.reasons-pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.reasons-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.reasons-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* masters */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}
/* .masters-item + .masters-item {
  margin-left: 30px;
} */
.masters-item {
  width: calc(100 / 3) - 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.masters-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  margin-bottom: 8px;
}
.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.masters-item-content {
  padding-top: 30px;
}

/* gallery */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-pre-title {
  color: var(--second-title-color);
}

/* workk */
.work-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}
.contacts-address-list-item {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-working {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.contacts-working-time {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-symbol {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--first-text-color);
}
